.modal{
    display: none;
}
.newApp {
    width: 200px;
    height: 50px;
}
.contentHeader{
    text-align: left;
    margin: 50px 0px 0px 70px;
    font-size: 30px;
    font-weight: bolder;

}

.today{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}
.download{
    margin-top: 30px;
    justify-content: right;
    font-size: 18px;
    font-weight: bolder;
}
.statusContainer{
    margin-top: 20px;
    border: 1.5px solid rgb(187, 187, 187, 0.3);
    height: 70px;
    display: flex;
    margin-left: 20px
}

.statusBox{
    border: 1px solid black;
    flex: 1;
    height: 100%;
    border-right: 1px solid black; /* 각 자식 div 사이에 선을 생성 */
    box-sizing: border-box; /* 선의 두께를 포함하여 크기 계산 */
}

.statusContent{
    text-align: center;
    line-height: 10px;
    line-height: 43px;
}

.weekStatus{
    display: flex;
    padding-bottom: 5px;
    text-align: left;
    font-size: 18px;
    border-bottom: 1.5px solid rgb(187, 187, 187, 0.3);
}
.infoHeader{
    display: flex;
    border-bottom: 1.5px solid rgb(187, 187, 187, 0.3);
    padding-bottom: 5px;
}

.statusInfoBox1{
    margin-left: 25px;
    width: 120px;
    height: 100%;
    text-align: center;
}
.statusInfoBox2{
    width: 230px;
    height: 100%;
    text-align: center;
}
.statusInfoBox3{
    width: 170px;
    height: 100%;
    text-align: center;
}
.statusInfoBox4{
    width: 170px;
    height: 100%;
    text-align: center;
}
.statusInfoBox5{
    width: 170px;
    height: 100%;
    text-align: center;
}
.statusInfoBox6{
    width: 170px;
    height: 100%;
    text-align: center;
}
.statusInfoBox7{
    width: 170px;
    height: 100%;
    text-align: center;
}
.statusInfoBox8{
    width: 170px;
    height: 100%;
    text-align: center;
}
.statusInfoBox9{
    width: 170px;
    height: 100%;
    text-align: center;
}


.infoContent{
    display: flex;
    margin-top: 13px;
}

.statusTime{
    text-align: center;
}

.type{
    margin-left: 20px;
    border: 1px solid rgb(187, 187, 187);
    font-size: 14px;
    line-height: 24px;
    width: 50px;
    text-align: center;
    border-radius: 2px;
    margin-right: 7px;
    margin-bottom: 13px;
}
.inputText{
    width: 200px;
    height: 28px;
    box-sizing: border-box;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 2px;
}
.inputButton{
    border: 0px;
    margin-left: 2px;
    border-radius: 2px;
    box-sizing: border-box;
    width: 50px;
    height: 28px;
    cursor: pointer;
}

.content {
    width: 83.7%;
    border-left: 1px solid rgb(203, 203, 203);
    min-height: 1000px;
}

.cumulativeTime{
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 4px;
}