.border {
    width: 40%;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
}

.find {
    background-color: #26361B;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    width: 375px;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 10px;
}

.find:hover {
    background-color: #1C2716;
}

.separator {
    border-bottom: 1px solid #1C2C10;
    margin-bottom: 20px;
    margin-top:  -10px;
}

.imfoSelect{
    width: 50%;
    height: 41px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}





