main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ECEAD8;
    height: 80vh;

}

label {
    font-weight: bold;
}

input {
    width: 350px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

input[type="submit"] {
    background-color: #26361B;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
    text-align: center;
    margin-left: 5px;
}

input[type="submit"]:hover {
    background-color: #1C2716;
}

.separator {
    border-bottom: 1px solid #1C2C10;
    width: 15%;
    margin-bottom: 20px;
}
