@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.TodoListItem {

    padding: 1rem;
    display: flex;
    align-items: center;

    margin: 20px 15px;
    border: 1px solid #c5c5c5;
    border-radius: 10px;


}

.TodoListItem:nth-child(even) {
    /*background: #f8f9fa;*/
}


/*체크 되기 전 */
.checkbox {
    cursor: pointer;
    flex: 1;
    /* 차지할 수 있는 영역 모두 차지 */
    display: flex;
    align-items: center;
}
svg {
    font-size: 1.5rem;
    margin: 0 5px;
}
.text {
    margin-left:0.5rem;
    flex:1;

}

/*체크박스에 체크가 되었을때 */
.checkbox.checked svg {
    color: #ff4545;

}



.checkbox.checked  .text {
    color: #d5d5d7;
    text-decoration: line-through;

}

.TodoListItem:hover {
    background-color: #F0F1EEFF;
    transition: all 0.1s;
    transition-delay: 0.1s;
    transform: scale(1.01);
    /*border: 2px solid #4c7522;*/

}

/*지울때 */
.remove {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #facece;
    cursor: pointer;

}

.remove:hover {
    color: #6d86ff;

}

.TodoListItem + .TodoListItem {
    /*border-top :1px solid #dee2e6;*/

}

.modi:hover {
    color: #6d86ff;
}

/*=========================================*/

/* TodoStyles.css */