.TodoListItem {

    padding: 1rem;
    display: flex;
    align-items: center;

}

.TodoListItem:nth-child(even) {
    background: #f8f9fa;
}


/*체크 되기 전 */
.checkbox {
    cursor: pointer;
    flex: 1;
    /* 차지할 수 있는 영역 모두 차지 */
    display: flex;
    align-items: center;
}
svg {
    font-size: 2rem;
}
.text {
    margin-left:0.5rem;
    flex:1;

}

/*체크박스에 체크가 되었을때 */
.checkbox.checked svg {
    color: #a8ad9d;

}

.checkbox.checked  .text {
    color: #d5d5d7;
    text-decoration: line-through;

}

.TodoListItem:hover {
    background-color: #F0F1EEFF;
    transition: all 0.1s;
    transition-delay: 0.1s;

}

/*지울때 */
.remove {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #f87c7c;
    cursor: pointer;

}

.remove:hover {
    color: #ff4545;

}

.TodoListItem + .TodoListItem {
    border-top :1px solid #dee2e6;
  }
