.boardName {
    margin-left: 1050px;
    color: #4b4949;
    margin-bottom: 15px;
}

.boardDate {
    margin-right: 1110px;
    color: #4b4949;
}

.boardButtons1 {
margin-right: 10px;
    padding: 10px 20px;
    background: #6e9150;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boardButtons2 {
    padding: 10px 20px;
    background: #6e9150;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boardButtons2:hover {
    background-color: #58753c;
}

.boardButtons1:hover {
    background-color: #58753c;
}
