.body{
    width: 940px;
    height: 610px;
    border: 1px solid rgba(123,123,123,0.5);
    position: absolute;
    left: 50%;
    margin: -10% 0 0 -25%;
    background-color : white;
    position: absolute;
    border-radius: 5px;
    background: white;
}

.header{
    display: flex;
    margin: 0px auto;
}

.modalTitle{
    margin-left: 49px;
}

.close{
    margin: 17px 40px 0px auto;
    font-size: 30px;
    cursor: pointer;
}
.title{
    border: 1px solid #ddd;
    width: 845px;
    margin-left: 50px;
    height: 30px;
    margin-Top : 15px;
}

.content{
    margin-left: 50px;
    width: 850px;
    height: 250px;
    margin-top: 40px;
}

.send{
    margin-left: 800px;
    margin-right: 50px;
    border: 1px solid black;
    margin-top: 60px;
    width: 100px;
    height: 30px;
    border: 1px solid rgba(123, 123, 123, 0.3);
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    line-height: 30px;
}
.send:hover{
    background-color: #F0F1EEFF;
}

.searchName {
    border: 1px solid #ddd;
    width: 70px;
    margin-left: 10px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
}

.employeeName{
    margin-left: 50px;
    outline : 1px solid rgba(212, 212, 212, 0.5);
    margin-bottom: 3px;
    display: flex;
    width: 845px;
}
.insert{
    margin-left: auto;
}
.employee{
    margin-right: 135px;
    margin-top: 0px;
    background: white;
    position: absolute;
}
.select{
    display: flex;
    margin: 0px 20px -25px 10px;
    padding: 2px;
    border: 1px solid rgba(123,123,123, 0.5);
    border-radius: 5px;
    font-size: 15px;
}
.delete{
    cursor:pointer;
    color:red;
    line-height: 18px;
    margin : 0px 5px 0px 5px;
}
