.modalTitle{
    width:850px;
    height:700px;
    border:1px solid black;
    top:15%;
    left:28%;
    position: absolute;
    background: white;
}
.modalContent{
    display:flex;
    margin:10px 10px 10px 50px;
}
.title{
    margin-top:50px
}
.close{
    margin-left:auto;
    margin-right:30px;
    cursor:pointer;
}
.content{
    margin-left:50px;
    width:720px;
    height:500px;
    border:1px solid black;
    align-content: center;
    font-size:25px;
    padding:10px 10px 10px 10px;
}