/*header와 배경 통일*/
body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F3F24;
    height: 20vh;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
