.content {
    flex-grow: 1;
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/* .overlay{
    left: 0;
    top: 0;
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: #2A3C1E;
    position:absolute;
} */

.todo-list {
    border-radius: 20px;
    background: white;
    width: 500px;
    height: 500px;
    align-items: flex-start;
    padding: 20px;
    box-shadow: 4px 6px 15px 2px #a09baa4d ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.todo-top {
    align-self: center;

}

.todo-list h3 {

    text-align: center;
    position: relative;

}

.todo-list label {
    margin: 20px;

}

.todo-list button {
    border: none;
    background: #2A3C1E;
    border-radius: 10px;
    color: white;
}
.todo-form {

    box-shadow: inset 0 0 0 1.5px #05c3a7, 0 -10px 10px #fff;
    border-radius: 10px;
    width: 500px;
    height: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: inherit;
    -webkit-box-pack: justify;
    justify-content: space-between;

}

.todo-input {

    width: 300px;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 16px;
    letter-spacing: -0.33px;
    padding-left: 20px;

}

.append-list button {
    /* background: #2A3C1E; */
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;

}

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    background: black;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}