.border {
    width: 40%;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
}

.separator {
    border-bottom: 1px solid #1C2C10;
    margin-bottom: 20px;
    margin-top:  -10px;
}

h4 {
    background: white;
    marginBottom: 32px;
    paddingRight: 450px;
}
