.body {

    transform: scale3d(0,0,1);
    transform-origin: right bottom;
    transition: opacity,transform .1s ease-out;

}


.customModalStyle {
    position: absolute;
    inset: 40px;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    display: contents;
    z-index: 999;

}

.isOpen {
    opacity: 1;
    transform: scaleX(1);
}




