/* Header.css */
.headerWrapper {
    background-color: #2a3c1e;
    color: white;
    padding: 10px 0;

}

.topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.gohome {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logo img {
    width: 40px;
    margin-right: 5px;
}

.officName {
    font-size: 20px;
    text-decoration: none;
}

.menuContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 50px; /* 원하는 만큼 조절해보세요 */
}

.menu {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    transition: background-color 0.3s ease-in-out;
}

.menu:hover {
    background-color: #8d8a6d;
    border-radius: 5px;
}

.profile {
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profileImg {
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    margin-right: 20px;
}

.userName {
    font-size: 16px;
    padding-top: 25px;
    color: white;
    margin-right: 30px;
}

.profileAndLogout {
    display: flex;
    align-items: center;
    margin-left: 300px; /* 버튼을 오른쪽으로 밀어냄 */
    margin-right: 80px; /* 오른쪽 여백 추가 */
}


.logOut {
    background-color: #6e9150;;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 10px; /* 크기 조정 */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.logOut:hover {
    background-color: #58753c;
}

.foot {
    text-align: center;
    background-color: #2a3c1e;
    color: white;
    height: 50px;
    line-height: 45px;
}