body {
    margin: 0;
    padding: 0;
    min-width: 1500px;
}

.topNav {
    background-color: #2a3c1e;
    display: flex;
    /* justify-content: space-around; */
    height: 60px;
    line-height: 60px;
    padding: 0 4px;
    padding-right: 10px;
}

.gohome {
    display: flex;
    cursor: pointer;
}

.officName {
    color: white;
    font-size: 1.3em;
    font-weight: 700;
    margin-left: 7px;
}

.home {
    color: white;
    font-size: 0.9em;
    margin-left: 200px;
    cursor: pointer;
    /* 선택된 메뉴 색 */
    /* background-color: #8d8a6e; */
    width: 80px;
    text-align: center;
    margin-right: -15px;
    height: 100%;
    text-decoration: none;
}

.dashboard, .chart, .approval, .calendar, .management, .todo, .stock {
    color: white;
    font-size: 0.9em;
    margin-left: 50px;
    cursor: pointer;
    width:80px;
    text-align: center;
    height: 100%;
    text-decoration: none;
}

.home:hover, .dashboard:hover, .chart:hover, .approval:hover, .calendar:hover, .management:hover, .todo:hover, .stock:hover, .profile:hover {
    color: #95ab85;
}
.profile {
    text-decoration: none;
}

.profile {
    cursor: pointer;
    display: flex;
    margin-left: 80px;

}

.profileImg {
    width: 38px;
    height: 38px;
    background-color: #d6d6d6;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
}

.menubar {
    width: 250px;
    height: 623px;
    /* background-color: #ecead8; */
    /* height값 임의로 넣어둠 */
    padding-top: 30px;
}

.foot {
    text-align: center;
    background-color: #2a3c1e;
    color: white;
    height: 50px;
    line-height: 45px;
}

.userName {
    color: white;
    margin-top: 30px;
    margin-right: 50px;
}