@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



.homeContainer {
    min-width: 2100px;
    max-width: 2200px;
    min-height: 1300px;
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
    user-select: none; /* 텍스트 선택 금지 */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -webkit-user-select: none;

}



.tempBox {

    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 5px #cdcec974; ;
    transition: all 0.5s;
    transition-delay: 0.3s;
}

.tempBox:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 5px rgba(129, 125, 125, 0.45); ;
}


.empInfoTitle{
    position: relative;
    width: 15%;
    padding: 20px 50px;
    background-color: #2A3C1E;
    border-radius: 30px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.empInfoImg{
    height: 100px;
    width: 100px;
    margin-left: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #92aa81;
    position: relative;
}
.empInfoImg:hover{
    transform: rotateY( 360deg );
    filter: grayscale(100%);
    transition: all 0.5s;
    transition-delay: 0.2s;
}

.fastButtons {

    display: flex;
    margin: 20px auto;
    justify-content: space-evenly;


}

.fastButtons button {
    margin-top: 20px;
    background: none;
    border-radius: 10px;
    border: 1px solid #92aa81;
    width: 150px;
    height: 50px;
    font-size: 1em;
    color: #92aa81;
    font-weight: 700;
}

.fastButtons button:hover {
    border: none;
    background-color: #92aa81;
    color: white;
    transition: all 0.3s;
    transform:scale(1.1);
    /*transition-delay: 0.2s;*/
}

.infoTitle, .empDepDate{
    text-align: center;
    font-size: 20px;
    color: white;
    margin: 5px;
}

.maintitle {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    justify-content: space-around

}

.maintext {
    flex:7;
    margin: auto;
}

.maintitle h1, h3{
    margin :1px;
    margin-left: 10px;
}

.workbuttons {
    margin-right: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex:2;
    gap: 20px;
}

.workbuttons button {

    display: block;
    padding: 10px 40px;
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    color: #2A3C1E;
    background-color: white;
    border: 2px solid #40562d;

    border-radius: 9px;

}


.workbuttons button:hover{
    color: #2A3C1E;
    /*background-color: white;*/
    /*border: 3px solid #40562d;*/
    border-radius: 9px;
    color: white;
    border: none;
    background-color: #4c7522;
    transition: all 0.3s;
    transition-delay: 0.2s;
    transform:scale(1.1);
    /*border-color: #40562d;*/
    box-shadow: 0 2px 5px #b0beb0;

}

/*다크모드와 시간 표시*/
.timeAndDark {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainTime  .darkmode{
    display: flex;
    margin:5px;
    text-align: center;
    flex-direction: column;
    align-items: center
}

.mainTime h3 {
    color: #909094;
    font-size: 1.5em;
}

.mainTime h1  {

    font-size: 2em;
    font-weight: 700;

}
.mainTime svg {
    text-align: center;
}




.calendarWrap {
    width: 100%;
    padding: 0.75em;
    margin: auto;
    /*font-size: 4vw;*/
    background-color: #fff;
    border-radius: 1.5em;
    user-select: none;
    box-shadow:
            0 0.0625em 0.25em rgba(0,20,50,0.2),
            0 0.5em 0.5em 0.125em rgba(0,20,50,0.1);

}

@media (max-width: 2000px) {
    .calendar-wrap {
        width: 450px;
        font-size: 1.25rem;
    }



}

.calnederContent {

    width: 100%;
    height: 100%;
    display: flex;
    flex: 9;


}

.monthYear {
    margin-bottom: 0.75em;
    text-align: center;
}

.calendar {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 0.75em;
    overflow: hidden;
    border-collapse: collapse;
    -webkit-tap-highlight-color: transparent;
}

.dayTitle {
    width: 4em;
    height: 2em;
    vertical-align: top;
    font-weight: bold;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.0625em;

}

.datelist {
    display: flex;
    flex: 6;
    flex-direction: column;
    align-items: center;
}

.mainTodo {
   object-fit: cover;
    /*display: flex;*/
    flex: 1;
}

.flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainTodo {
    width: 90%;
    height: 100%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-top: 0rem;
    margin-bottom: 0rem;

}


.TodoTemplate_TodoTemplate {

    height: 100%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.daliyTitle {
    /*background-color: #1C2C10;*/
}

/*문서 파트*/
.documentPart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.docutitle {
    display: flex;
    justify-content: space-evenly;
    margin: auto 0;
    align-items: center;
}

/*게시판 파트*/
.boradPart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smallimg {
    border: 1px solid #4c7522;
    border-radius: 20px;
    width: 30px;
    height: 30px;
}

.doculist{
    margin: 0px 10px 30px 0px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 0px;
    justify-content: space-evenly;
}

.loading {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #ffffffb7;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font: 1rem 'Noto Sans KR';
    text-align: center;
}

.worktimes {

    display: flex;
    gap: 20px;
    margin-right: 90px;

}

.worktimes h1 {

    font-size: 2.5em;
}

.worktimes p {

    text-align: center;
}

.worktimes h1:hover {
    color: #4c7522;
    transform: scale(1.1);
    transition: all 0.3s;
    transition-delay: 0.2s;
}

.color {
    background-color: #92aa81;
}

.DocuList + .DocuList {

    border-top :1px solid #dee2e6;
}