

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.bgPrimary {
    background-color: #e1e1e1;

}

.badge {
    background-color: #2a3c1e;
    position:relative;
    overflow:hidden;
    width: 100%;
    height: 30px;
    /*padding: 5px 8px;*/
    font-size: 12px;
    color: white;
    transition: background .3s ease;
    line-height: 20px;
    display: inline-block;


}

.badge::after {
    position:absolute;
    background-color: #63854c;
    /*padding: 2px 8px;*/
    font-size: 20px;
    color: beige;
    transform:translateX(-100%);
    transition: all .3s ease;
    content:"";
    display: block;
    width:100%;
    height:100%;
    bottom:0;
    left:0;
    /*border: 2px solid #ffc95c;*/
}

.cardBody:hover .badge,
.badge:hover {
    /*background-color: #ffc95c;*/
    color: #ffffff; /* Change the text color when hovering */
}

.cardBody:hover .badge::after,
.badge:hover::after {
    transform:translateX(0);
    color: #ffffff;
}

.badgeText {
    position: absolute;
    font-size: 12px;
    color: white;
    padding: 5px 8px;
    /*color: #3b3a3a;*/
    /*visibility: hidden;*/
}




a {
    text-decoration:none;
}

.card {
    /*width: 100%;*/
    /*height: 100px;*/
    /*gap:10px;*/
    margin:5px auto;
}

.cardBody {
    width: 550px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    border: 1.5px solid rgb(70, 84, 5);
    border-radius: 5px;
    margin: auto 15px;

}


.cardBody:hover {
    /*background-color: #e3e3e3;*/
    transition: all 0.2s;
    /*transition-delay: 0.s;*/
    transform: scale(1.1);

}

.cardDetail {
    display: flex;
    flex-direction: column;
    margin: auto 10px;
}

.detailCard {
    display: flex;
    justify-content: space-between;

}

.subs {

    display: flex;
}

@media (max-width: 1800px) {

    .card {
        width: 462px;
        /*height: 100px;*/
        gap:10px;
        /*margin:5px;*/
    }

    .cardBody {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
        border: 1px solid #c5c5c5;
        border-radius: 5px;

    }


}

/*슬라이더 적용*/

.slider-container {
    overflow: hidden;
    width: 300px; /* 슬라이더의 가로 너비를 조절하세요 */
    height: 300px; /* 슬라이더의 세로 높이를 조절하세요 */
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 300px; /* 슬라이드 하나의 가로 너비를 조절하세요 */
    height: 100%;
    margin-right: 20px; /* 슬라이드 사이의 간격을 조절하세요 */
}

.cardDetail a:link , .cardDetail a:visited, .detailCard h5 {
    color: #313131;
}