

.container {
    /*width: 500px;*/
    height: 300px;
    margin: auto 16px;
    width: 664px;
    user-select: none; /* 텍스트 선택 금지 */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -webkit-user-select: none;
}

.section {
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
}



.docuList {
    display: flex;
    justify-content: flex-start;
    /*margin: 0 auto;*/
}

.docuList ul {

    list-style-type: none;
    display: flex;
    /*gap: 30px;*/

}



.docuList ul last-child {

    color: red;
}

    /*글자 사이에 선 */
.line::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 50%;
    margin: 0 auto;
    background-color: #4b653b;
    margin: 1em 0.5em;
}



/* Effect 15: scale down, reveal */

.docuList a {

    font-weight: 700;
    color: #2a3c1e;
}

.docuList li {

    user-select: none; /* 텍스트 선택 금지 */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -webkit-user-select: none;
    position:relative;
    overflow:hidden;
    transition: background .3s ease;
    display: block;
    line-height: 30px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 800;
    color: #444;
    text-decoration: none;
    margin: 0 auto;
}

.strong {
    user-select: none; /* 텍스트 선택 금지 */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -webkit-user-select: none;
    color: #f27474;
    /* background: #506b54; */
    font-weight: 800;
    width: 20px;
    height: 20px;
    font-size: 1em;
    text-align: center;
    margin-left: -7px;
    margin-top: -7px;
    /* padding: 1px 1px; */
    border-radius: 16px;
}

.strong:hover {
    transform: scale(1.5);
    transition: all .3s ease;
}

.docuList li::after{

    position:absolute;
    display:block;
    content:"";
    font-weight: 700;
    width:100%;
    height:2px;
    background:#2a3c1e;
    bottom:0;
    left:0;
    transform:translateX(-100%);
    transition: all .3s ease;
}

.docuList li:hover::after {
    transform:translateX(0);
    height:3px;
    background:#2a3c1e;
}

.docuList + .docuContent , tr +tr{

    border-top :1px solid #dee2e6;
}

/* 테이블 */
.docuContent {
    user-select: none; /* 텍스트 선택 금지 */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -webkit-user-select: none;
    width: 100%;
    border-collapse: collapse;
    /*border: 1px solid #ccc;*/
    border: none;
    margin-top: 2%;
    overflow: scroll;
}

.docuContent th, .docuContent td {
    padding: 10px;
    /*border: 1px solid #ccc;*/
    text-align: center;
    border: none;
}

.docuContent tr{
    white-space: pre-line;
}

.mainline{
    background-color: lightgoldenrodyellow;
}

.docuContent td button {

    background-color: #adb5db;
    border-radius: 20px;
    border: none;
    padding: 5px 15px;
    color: white;
}

.docuContent td button:hover {

    background-color: #6d86ff;
    border-radius: 20px;
    border: none;
    padding: 5px 15px;
    color: white;
}

.docuList button {

    background-color: #d6ddff;
    border-radius: 2px;
    border: none;
    padding: 1px 1px;
    margin: 2px;
    color: white;
}

.content:hover {

    background-color: rgb(250, 250, 250);

}