contentsbox.newApp {
    width: 200px;
    height: 50px;
}

.modal{
    display: none;
}

.contentHeader{
    text-align: left;
    margin: 50px 0px 0px 40px;
    font-size: 30px;
    font-weight: bolder;
}

.today{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
.downloadHeader{
    margin-top: 30px;
    justify-content: right;
    font-size: 18px;
    font-weight: bolder;
}
.download{
    background-color: #26361B;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    text-align: center;
    height: 37px;
    width : 150px;
    line-height: 36px;
}
.print{
    background-color: #26361B;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    text-align: center;
    height: 37px;
    width : 65px;
    line-height: 36px;
}

.statusContainer{
    border: 1.5px solid rgb(187, 187, 187, 0.3);
    height: 70px;
    display: flex;
    margin: 50px 40px 0px;
}

.statusBox{
    border: 1px solid black;
    flex: 1;
    height: 100%;
    border-right: 1px solid black; /* 각 자식 div 사이에 선을 생성 */
    box-sizing: border-box; /* 선의 두께를 포함하여 크기 계산 */
}

.statusContent{
    text-align: center;
    line-height: 10px;
    line-height: 43px;
}

.weekStatus{
    display: flex;
    padding-bottom: 5px;
    text-align: left;
    font-size: 18px;
    font-weight: bolder;

}
.infoHeader{
    display: flex;
    border-bottom: 1.5px solid rgb(187, 187, 187, 0.3);
    padding-bottom: 5px;
}

.statusInfoBox1{
    margin-left: 25px;
    width: 220px;
    height: 100%;
    text-align: center;
}
.statusInfoBox2{
    width: 220px;
    height: 100%;
    text-align: center;
}
.statusInfoBox3{
    width: 220px;
    height: 100%;
    text-align: center;
}
.statusInfoBox4{
    width: 220px;
    height: 100%;
    text-align: center;
}
.statusInfoBox5{
    width: 220px;
    height: 100%;
    text-align: center;
}
.statusInfoBox6{
    width: 220px;
    height: 100%;
    text-align: center;
}
.statusInfoBox7{
    width: 220px;
    height: 100%;
    text-align: center;
}

.infoContent{
    display: flex;
    margin-top: 13px;
}

.type{

    border: 1px solid rgb(187, 187, 187);
    font-size: 14px;
    line-height: 24px;
    width: 50px;
    text-align: center;
    border-radius: 2px;
    margin : 0px 7px 13px 40px;
}
.inputText{
    width: 200px;
    height: 28px;
    box-sizing: border-box;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 2px;
}
.inputButton{
    border: 0px;
    margin-left: 2px;
    border-radius: 2px;
    box-sizing: border-box;
    width: 50px;
    height: 28px;
    cursor: pointer;
}

.statusValue{
    text-align: center;
}
.content {
    width:1605px;
}
.selectBox{
    margin-left: auto;
    width: 40px;
    height: 30px;
    padding:0px;
    margin-right:40px;
}