.area1 {
    text-align: center;
    font-size: 1.4em;
    font-weight: 500;
    border-top: 1px solid rgb(203, 203, 203);
    margin-top: 15px;
    padding-top: 20px;
    width: 100%;
}

main {
    display: flex;
}

.approval {
    /*background-color: #8d8a6d;*/
    height: 100%;
}

.newApp {
    border: 1px solid #8d8a6d;
    width: 200px;
    text-align: center;
    height: 50px;
    line-height: 49px;
    border-radius: 8px;
    font-size: 1.3em;
    font-weight: 500;
    margin-left: 25px;
    cursor: pointer;
}
t
.newApp:hover {
    /* border: 2px solid #8d8a6d; */
    box-shadow: 0 2px 4px 0 rgb(203, 203, 203);
}

.documentForm {
    margin-top: 30px;
    margin-left: 40px;
    font-weight: 600;
}

.goApp, .myDocument {
    margin-left: 40px;
    font-weight: 600;
    margin-top: 23px;
}

.purchase, .appWait, .myBusiness {
    margin-top: 10px;
}

.purchase, .pay, .traffic, .vacation, .business, .appSee, .appSoon, .appWait, .myBusiness, .myApp, .send, .receive, .mySee {
    padding-left: 60px;
    margin-bottom: 7px;
    cursor: pointer;
    color: black;
}

.purchase:hover, .pay:hover, .traffic:hover, .vacation:hover, .business:hover, .appSee:hover, .appSoon:hover, .appWait:hover, .myBusiness:hover, .myApp:hover, .send:hover, .receive:hover, .mySee:hover {
    color: #95ab85;
}

.TopTitle {
    height: 70px;
    font-size: 1.35em;
    font-weight: 500;
    line-height: 70px;
    padding-left: 40px;
    border-bottom: 1px solid rgb(203, 203, 203);
}

.willApp {
    height: 120px;
    border-bottom: 1px solid rgb(203, 203, 203);
    line-height: 120px;
    text-align: center;
    color: rgb(203, 203, 203);
    font-size: 15px;
}

.waiting, .done {
    padding-left: 40px;
    font-size: 1.15em;
    margin-top: 30px;
}

.waitingDoc, .doneDoc {
    margin-top: 20px;
}

/* .DocInfo {
    width: 100%;
    border-bottom: 1px solid rgb(203, 203, 203);
    border-top: 1px solid rgb(203, 203, 203);
    padding-left: 20px
} */

.area2 {
    display: flex;
    justify-content: space-between;
}

.table3 {
    width: 400px;
    height: 120px;
    border: 1px solid rgb(87, 87, 87);
    border-collapse: collapse;
    margin-left: 40px;
}

.td2, .td1 {
    border: 1px solid rgb(150, 150, 150);
    text-align: center;
}

.td1 {
    width: 200px;
}

.td2 {
    background-color: #ecead8;
}

/* .area4 {
    display: grid;
    grid-template-columns: 20px 100px;
    grid-template-rows: 25px 70px 25px;
    margin-right: 40px;
}

.area9 {
    display: grid;
    grid-template-columns: 20px 100px;
    grid-template-rows: 25px 70px 25px;
}

.area5 {
    grid-row-start: 1;
    grid-row-end: 4;
    border: 1px solid rgb(150, 150, 150);
    line-height: 59px;
    text-align: center;
}

.area6, .area7, .area8 {
    text-align: center;
    border-right: 1px solid rgb(150, 150, 150);
    border-top: 1px solid rgb(150, 150, 150);
}

.area7 {
    line-height: 70px;
}

.area8 {
    border-bottom: 1px solid rgb(150, 150, 150);
} */

.approve {
    display: flex;
    margin-right: 40px;
}

.area4 {
    height: 120px;
    width: 25px;
    border: 1px solid rgb(150, 150, 150);
    line-height: 60px;
    text-align: center;
    background-color: #ecead8;
}

.area6, .area7, .area8 {
    width: 100px;
    border-right: 1px solid rgb(150, 150, 150);
    border-top: 1px solid rgb(150, 150, 150);
    text-align: center;
}

.area8 {
    height: 19px;
    border-bottom: 1px solid rgb(150, 150, 150);
}

.area6 {
    height: 19.4px;
}

.area7 {
    height: 80px;
    line-height: 80px;
}

.docTitle {
    width: 100%;
    margin: 0 40px;
    display: flex;
}

.area9 {
    padding: 1px;
    border: 0.8px solid rgb(150, 150, 150);
    border-right: none;
    width: 93.6px;
    text-align: center;
    height: 36px;
    line-height: 36px;
    background-color: #ecead8;
}

#docTitle {
    width: 100%;
    font-size: 1.2em;
    padding: 0 10px;
    border: 0.8px solid rgb(150, 150, 150);
    outline: none;
}

.docTitle {
    width: 95%;
}

.addDelBtn {
    display: flex;
    justify-content: right;
    margin-right: 40px;
    margin-bottom: 3px;
}

.add, .delete {
    width: 60px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    background-color: #8d8a6d;
    color: white;
    line-height: 30px;
}

.add {
    margin-right: 10px;
}

.add:hover, .delete:hover {
    box-shadow: 0 2px 4px 0 rgb(150, 150, 150);
}

.table2 {
    border: 1px solid rgb(87, 87, 87);
    border-collapse: collapse;
    margin : 0 40px;
    width: 95%;
    line-height: 20px;
}

.productName {
    width: 250px;
}

.productSize, .amount {
    width: 100px;
}

.totalPrice {
    width: 100px;
}

.note {
    width: 450px;
}

.td3 {
    padding: 2px 5px;
    line-height: 40px;
    border-right: 1px solid rgb(100, 100, 100);
    text-align: center;
}

.tr td {
    border-bottom: 1px solid rgb(100, 100, 100);
    text-align: center;
    border-right: 1px solid rgb(100, 100, 100);
}

.td3 input {
    width: 95%;
    font-size: 1.2em;
    outline: none;
    border: 0.5px solid rgb(220, 220, 220);
    text-align: center;
}

.inputRow {
    border-bottom: 1px solid rgb(100,100,100);
}

.area11 {
    margin: 0 40px;
    border: 0.8px solid rgb(150, 150, 150);
    border-top: none;
    width: 94.9%;
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.area10 {
    width: 100%;
}

.area12 {
    border-right: 1px solid rgb(150, 150, 150);
    width: 252px;
    text-align: center;
    line-height: 40px;
}

.allPrice {
    line-height: 40px;
    margin-right: 20px;
    font-size: 1.3em;
}

.modify {
    margin-left: 30px;
    margin-top: 20px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    background-color: #8d8a6d;
    border-radius: 5px;
    cursor: pointer;
}

.file {
    padding-left: 40px;
    padding-right: 40px;
}

.fileBtn {
    display: none;
}

label {
    cursor: pointer;
    background-color: #ecead8;
    margin: 30px 0;
    width: 120px;
    text-align: center;
    border-radius: 10px;
}

label:hover {
    box-shadow: 0 2px 4px 0 rgb(202, 202, 202);
}

.file {
    border: 3px dashed rgb(202, 202, 202);
    margin: 0 40px;
    height: 100px;
    display: flex;
    line-height: 40px;
    justify-content: center;
}

.content {
    border-left: 1px solid rgb(202, 202, 202);
    min-height: 959px;
    width: 100%;
}