
.paging {
    display: flex;
    justify-content: center;
    margin-right: 40px;
    margin-bottom: 40px;
}

.pagingBtn {
    cursor: pointer;
    font-size: 1.5em;
}

.pagingBtn:hover {
    color: #8d8a6d;
}

.search {
    display: flex;
    justify-content: center;
}

.before, .after {
    font-size : 1.5em;
    cursor : pointer;
}

.before:hover, .after:hover {
    color: #8d8a6d;
}

.searchBar {
    border: 3px solid #8d8a6d;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 15px;
    width: 400px;
}


.searchButton {
    width: 50px;
    height: 46px;
    border: #8d8a6d;
    background: #8d8a6d;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 30px;
    line-height: 10px;
}

.allCheck {
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: -20px;
    display: flex;
}

.delete {
    cursor: pointer;
}

.delete:hover {
    color: #95ab85;
}

.checkOne {
    position: absolute;
    left: 350px;
}