.modal {
    width: 600px;
    /*height: 300px;*/
    background: white;
    position: absolute;
    top: 33%;
    left: 36%;
    z-index: 100;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0,0,0,.15);
    padding: 5px 10px 5px 10px;
    background: #2a3c1e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bottom {
    border: 1px solid white;
    border-top: 0.5px solid rgba(0,0,0,.15);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: right;
    background: white;
    width: 596px;
}

.text {
    line-height: 26px;
    color: #ecead8;
    font-size: 1.15em;
    font-weight: 500;
}

.x {
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 900;
    line-height: 25px;
    color: #ecead8;
}

.middle {
    display: flex;
    justify-content: space-between;
    height: 240px;
    border-left: 1px solid #2a3c1e;
    border-right: 1px solid #2a3c1e;
}

.right {
    border-left: 1px solid rgba(0,0,0,.15);
    width: 300px;
}

.okBtn {
    padding: 5px;
    background: #ecead8;
    text-align: center;
    width: 80px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 10px;
}

.okBtn:hover {
    box-shadow: 0 2px 4px 0 #dcdcdc;
}

.left {
    /*overflow: auto;*/
    width: 100%;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
}

.goBtn {
    padding: 5px;
    background: #ecead8;
    text-align: center;
    width: 80px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 180px;
}

.goBtn:hover {
    box-shadow: 0 2px 4px 0 #dcdcdc;
}