.table1 {
    border: 1px solid black;
    width: 95.4%;
    border-collapse: collapse;
    margin-left: 40px;
    margin-top: 10px;
}

.td1, .td2, .td3 {
    background: #ecead8;
    text-align: center;
    border: 1px solid black;
}

.td1 {
    width: 150px;
}

.td3 {
    width: 200px;
}

.td {
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}


.td input {
    width: 95%;
    height: 30px;
}

.tr1 {

}